@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: var(--primary);
    --color-surface: var(--surface);
    --color-background: var(--background);
    --color-soft: var(--soft);
    --color-foreground: var(--foreground);
    --color-muted-foreground: var(--muted-foreground);
    --box-shadow: var(--shadow);
}

:root {
    --primary: oklch(0.62 0.2 255.23);
    --surface: oklch(100% 0.0 255.000);
    --background: oklch(0.82 0.1 245.62);
    --soft: oklch(0.94 0.03 243.75 / 0.82);
    --foreground: oklch(0 0 0);
    --muted-foreground: oklch(0 0 0 / 0.8);
    --shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

.dark {
    --surface: oklch(13.145% 0.03574 248.419);
    --background: oklch(0.32 0.13 253.04);
    --soft: oklch(0.18 0.04 249.12);
    --foreground: oklch(0.98 0 0);
    --muted-foreground: oklch(0.98 0 0 / 0.8);
    --shadow: 0px 0px 3px rgb(0 61 134 / 50%);
}

body {
    color: var(--color-foreground);
}

.background-gradient-ltr {
    background: -webkit-linear-gradient(to left, var(--color-soft), var(--color-background));
    background: linear-gradient(to left, var(--color-soft), var(--color-background));
}

.background-gradient-rtl {
    background: -webkit-linear-gradient(to right, var(--color-soft), var(--color-background));
    background: linear-gradient(to right, var(--color-soft), var(--color-background));
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    padding-left: 12px;
    padding-right: 12px;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.shadow {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}

code {
    background-color: var(--color-background);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
}