@import "tailwindcss";

@theme {
    --color-primary: oklch(0.62 0.2 255.23);
    --color-surface: oklch(100% 0.0 255.000);
    --color-background: oklch(0.82 0.1 245.62);
    --color-soft: oklch(0.94 0.03 243.75 / 0.82);
    --color-foreground: oklch(0.29 0.01 0);
    --color-muted-foreground: oklch(0.37 0.01 0);
    --box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}