node_modules
dist
build
coverage
test-results
buildResources
landing
.svelte-kit
.vite
.vscode
*.local
.env
.DS_Store
package-lock.json
pnpm-lock.yaml
landing/pnpm-lock.yaml
database.dev.sqlite
database.test.sqlite
CHANGELOG.md
