---
import KvEntriesTableScreenshot_light from "../../../screenshots/KvEntriesTable_light.png";
import KvEntriesTableScreenshot_dark from "../../../screenshots/KvEntriesTable_dark.png";
import LookupEntryDialogScreenshot_light from "../../../screenshots/LookupEntryDialog_light.png";
import LookupEntryDialogScreenshot_dark from "../../../screenshots/LookupEntryDialog_dark.png";
import KvStoresGridScreenshot_light from "../../../screenshots/KvStoresGrid_light.png";
import KvStoresGridScreenshot_dark from "../../../screenshots/KvStoresGrid_dark.png";
import AddKvEntryFormScreenshot_light from "../../../screenshots/AddKvEntryForm_light.png";
import AddKvEntryFormScreenshot_dark from "../../../screenshots/AddKvEntryForm_dark.png";
import BrowsingParamsDialogScreenshot_light from "../../../screenshots/BrowsingParamsDialog_light.png";
import BrowsingParamsDialogScreenshot_dark from "../../../screenshots/BrowsingParamsDialog_dark.png";
import SavedBrowsingParamsDialogScreenshot_light from "../../../screenshots/SavedBrowsingParamsDialog_light.png";
import SavedBrowsingParamsDialogScreenshot_dark from "../../../screenshots/SavedBrowsingParamsDialog_dark.png";
import DisplayKvEntryDialogScreenshot_light from "../../../screenshots/DisplayKvEntryDialog_light.png";
import DisplayKvEntryDialogScreenshot_dark from "../../../screenshots/DisplayKvEntryDialog_dark.png";
import EditKvEntryDialogScreenshot_light from "../../../screenshots/EditKvEntryDialog_light.png";
import EditKvEntryDialogScreenshot_dark from "../../../screenshots/EditKvEntryDialog_dark.png";
import KvStoreFormScreenshot_light from "../../../screenshots/KvStoreForm_light.png";
import KvStoreFormScreenshot_dark from "../../../screenshots/KvStoreForm_dark.png";
import EnqueueMessageDialogScreenshot_light from "../../../screenshots/EnqueueMessageDialog_light.png";
import EnqueueMessageDialogScreenshot_dark from "../../../screenshots/EnqueueMessageDialog_dark.png";
import EnqueueMessageBackoffScheduleOptionScreenshot_light from "../../../screenshots/EnqueueMessageBackoffScheduleOption_light.png";
import EnqueueMessageBackoffScheduleOptionScreenshot_dark from "../../../screenshots/EnqueueMessageBackoffScheduleOption_dark.png";
import EnqueueMessageKeysIfUndeliveredOptionScreenshot_light from "../../../screenshots/EnqueueMessageKeysIfUndeliveredOption_light.png";
import EnqueueMessageKeysIfUndeliveredOptionScreenshot_dark from "../../../screenshots/EnqueueMessageKeysIfUndeliveredOption_dark.png";
import AtomicOperationsDialogScreenshot_light from "../../../screenshots/AtomicOperationsDialog_light.png";
import AtomicOperationsDialogScreenshot_dark from "../../../screenshots/AtomicOperationsDialog_dark.png";
import CheckAtomicOperationScreenshot_light from "../../../screenshots/CheckAtomicOperation_light.png";
import CheckAtomicOperationScreenshot_dark from "../../../screenshots/CheckAtomicOperation_dark.png";
import SumAtomicOperationScreenshot_light from "../../../screenshots/SumAtomicOperation_light.png";
import SumAtomicOperationScreenshot_dark from "../../../screenshots/SumAtomicOperation_dark.png";
import FeatureCarousel from "./FeatureCarousel.astro";
import Wave from "../assets/wave.svg";
---

<section id="features-1" class="bg-surface">
  <div class="container">
    <div class="features-text">
      <h2>Create Connections to your Deno KVs</h2>
      <p>
        Create connections to your <strong>Deno Key-Value</strong> databases which
        can be <strong>local</strong> or <strong>remote</strong> connection, and switch
        between them easily
      </p>
    </div>
    <FeatureCarousel
      images={[
        {
          lightSrc: KvStoresGridScreenshot_light.src,
          darkSrc: KvStoresGridScreenshot_dark.src,
          alt: "KV Stores Grid screenshot",
        },
        {
          lightSrc: KvStoreFormScreenshot_light.src,
          darkSrc: KvStoreFormScreenshot_dark.src,
          alt: "KV Store Form screenshot",
        },
      ]}
    />
  </div>
  <div class="background-gradient-ltr flex items-start">
    <Wave style="transform: translateY(-1px) rotate(180deg);" />
  </div>
</section>

<section id="features-2" class="background-gradient-ltr">
  <div class="container">
    <FeatureCarousel
      images={[
        {
          lightSrc: KvEntriesTableScreenshot_light.src,
          darkSrc: KvEntriesTableScreenshot_dark.src,
          alt: "KV Entries Table screenshot",
        },
        {
          lightSrc: LookupEntryDialogScreenshot_light.src,
          darkSrc: LookupEntryDialogScreenshot_dark.src,
          alt: "Lookup Entry form screenshot",
        },
        {
          lightSrc: DisplayKvEntryDialogScreenshot_light.src,
          darkSrc: DisplayKvEntryDialogScreenshot_dark.src,
          alt: "Display Kv Entry form screenshot",
        },
      ]}
    />
    <div class="features-text">
      <h2>Open and browse a Deno KV</h2>
      <p>
        Open one of your connections to your Deno KV databases and begin
        <strong>browsing</strong> and navigating through the pages of Kv entries,
        or <strong>lookup</strong> a specific entry by its key
      </p>
    </div>
  </div>
</section>

<section id="features-3" class="bg-surface">
  <div
    class="background-gradient-ltr"
    style="display: flex; align-items: flex-end;"
  >
    <Wave style="transform: translateY(1px)" />
  </div>
  <div class="container">
    <FeatureCarousel
      images={[
        {
          lightSrc: BrowsingParamsDialogScreenshot_light.src,
          darkSrc: BrowsingParamsDialogScreenshot_dark.src,
          alt: "Browsing Params Dialog screenshot",
        },
        {
          lightSrc: SavedBrowsingParamsDialogScreenshot_light.src,
          darkSrc: SavedBrowsingParamsDialogScreenshot_dark.src,
          alt: "Saved Browsing Params Dialog screenshot",
        },
      ]}
    />
    <div class="features-text">
      <h2>Filter KV Entries</h2>
      <p>
        Filter Deno KV entries using <code>prefix</code> selector or
        <code>start</code> and <code>end</code>
        <strong>range</strong> selector. And you can <strong>save</strong> your filters
        for feature reuse if you want
      </p>
    </div>
  </div>
  <div class="background-gradient-rtl">
    <Wave style="transform: translateY(-1px) rotate(180deg);" />
  </div>
</section>

<section id="features-4" class="background-gradient-rtl">
  <div class="container">
    <div class="features-text">
      <h2>Add, Edit or Delete Kv Entries</h2>
      <p>
        Mutate your Deno KV databases by adding, editing or deleting Kv entries
        through a feature-rich, simple and easy to use
        <strong>Key/Values editor</strong>
      </p>
    </div>
    <FeatureCarousel
      images={[
        {
          lightSrc: AddKvEntryFormScreenshot_light.src,
          darkSrc: AddKvEntryFormScreenshot_dark.src,
          alt: "Add Kv Entry form screenshot",
        },
        {
          lightSrc: EditKvEntryDialogScreenshot_light.src,
          darkSrc: EditKvEntryDialogScreenshot_dark.src,
          alt: "Edit Kv Entry form screenshot",
        },
      ]}
    />
  </div>
</section>

<section id="features-5" class="bg-surface">
  <div
    class="background-gradient-rtl"
    style="display: flex; align-items: flex-end;"
  >
    <Wave style="transform: translateY(1px)" />
  </div>
  <div class="container">
    <FeatureCarousel
      images={[
        {
          lightSrc: EnqueueMessageDialogScreenshot_light.src,
          darkSrc: EnqueueMessageDialogScreenshot_dark.src,
          alt: "Enqueue Message Dialog screenshot",
        },
        {
          lightSrc: EnqueueMessageBackoffScheduleOptionScreenshot_light.src,
          darkSrc: EnqueueMessageBackoffScheduleOptionScreenshot_dark.src,
          alt: "Enqueue Message Backoff Schedule Option screenshot",
        },
        {
          lightSrc: EnqueueMessageKeysIfUndeliveredOptionScreenshot_light.src,
          darkSrc: EnqueueMessageKeysIfUndeliveredOptionScreenshot_dark.src,
          alt: "Enqueue Message Keys If Undelivered Option screenshot",
        },
      ]}
    />
    <div class="features-text">
      <h2>Enqueueing Messages UI</h2>
      <p>
        You can enqueue messages into your Deno KV Database's
        <strong>Queue</strong> via stright forward UI with
        <strong>delay</strong>, <strong>backoffSchedules</strong>, and
        <strong>keysIfUndelivered</strong> options supported.
      </p>
    </div>
  </div>
  <div class="background-gradient-ltr">
    <Wave style="transform: translateY(-1px) rotate(180deg);" />
  </div>
</section>

<section id="features-6" class="background-gradient-ltr">
  <div class="container">
    <div class="features-text">
      <h2>Atomic Operations</h2>
      <p>
        Construct all <strong>atomic</strong> operations available in Deno KV API
        right through the UI and perform transactions on your Deno KV databases with
        ease.
      </p>
    </div>
    <FeatureCarousel
      images={[
        {
          lightSrc: AtomicOperationsDialogScreenshot_light.src,
          darkSrc: AtomicOperationsDialogScreenshot_dark.src,
          alt: "Atomic Operations Dialog screenshot",
        },
        {
          lightSrc: CheckAtomicOperationScreenshot_light.src,
          darkSrc: CheckAtomicOperationScreenshot_dark.src,
          alt: "Check Atomic Operation screenshot",
        },
        {
          lightSrc: SumAtomicOperationScreenshot_light.src,
          darkSrc: SumAtomicOperationScreenshot_dark.src,
          alt: "Sum Atomic Operation screenshot",
        },
      ]}
    />
  </div>
</section>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .features-text {
    max-width: 550px;
    order: 1;
    h2 {
      font-size: 30px;
      margin-bottom: 8px;
      font-weight: 800;
    }

    p {
      font-size: 17px;
      color: var(--color-muted-foreground);
    }
  }

  img {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    order: 2;
  }

  svg {
    width: 100%;
    fill: var(--color-surface);
  }

  @media (width >= 80rem) {
    .container {
      flex-direction: row;
      justify-content: space-evenly;
      text-align: start;

      .carousel-container,
      .features-text {
        order: initial;
      }
    }
  }

  @media (width >= 40rem) {
    .features-text {
      h2 {
        font-size: 36px;
      }

      p {
        font-size: 19px;
      }
    }
  }
</style>
