<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/denokv-gui-client/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Deno KV GUI Client | Browse and Manage Deno KV Databases</title>
    <meta
      name="description"
      content="A modern desktop app for browsing and managing Deno KV databases."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
