name: Compile and test the app

on:
  workflow_call:

defaults:
  run:
    shell: "bash"

jobs:
  compile-and-test:
    permissions:
      contents: write
      id-token: write
      attestations: write

    env:
      NODE_NO_WARNINGS: 1
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      npm_config_audit: false
      npm_config_fund: false
      USE_HARD_LINKS: false

    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
          - macos-15-intel

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ">=23.0.0"

      - name: Install dependencies
        run: |
          npm install -g pnpm@latest
          pnpm install

      - name: Download "denokv-x86_64-apple-darwin" binary for mac-x64 build
        if: matrix.os == 'macos-15-intel'
        run: | 
          releaseUrl=https://api.github.com/repos/AbdulrhmanGoni/denokv-x86_64-apple-darwin-binary-build/releases/latest
          curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -sSL --retry 3 --retry-delay 3 $releaseUrl -o release.json

          # Check release.json exists and is not empty
          if [ ! -s release.json ]; then
          echo "Failed to download release info into release.json"
          exit 1
          fi

          # Extract the download URL and tag of the first and only asset
          download_url=$(jq -r '.assets[0].browser_download_url' release.json)
          tag=$(jq -r '.tag_name' release.json)

          if [[ -z "$download_url" ]]; then
          echo "Failed to parse download_url from release.json"
          cat release.json
          exit 1
          fi

          if [[ -z "$tag" ]]; then
          echo "Failed to parse tag name from release.json"
          cat release.json
          exit 1
          fi

          # Download "deno-kv-napi.darwin-x64.node" asset
          binaryDist=node_modules/.pnpm/@deno+kv-darwin-x64@$tag/node_modules/@deno/kv-darwin-x64/deno-kv-napi.darwin-x64.node
          curl -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -L --retry 3 --retry-delay 3 -o $binaryDist $download_url

      - name: Run bridge server tests
        working-directory: packages/bridge-server
        run: pnpm run test

      - name: Build the app
        run: pnpm run compile -- -p never

      - name: Run tests (Windows, Mac)
        run: pnpm run test
        if: matrix.os != 'ubuntu-latest'

      - name: Run tests (Linux)
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- pnpm run test
        if: matrix.os == 'ubuntu-latest'

      - uses: actions/attest-build-provenance@v2
        with:
          subject-path: "dist/denokv-gui-client*, dist/latest*.yml"

      - name: Upload compiled app
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: dist
