name: Compile and test the app

on:
  workflow_call:

defaults:
  run:
    shell: "bash"

jobs:
  compile-and-test:
    permissions:
      contents: write
      id-token: write
      attestations: write

    env:
      NODE_NO_WARNINGS: 1
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      npm_config_fund: false
      USE_HARD_LINKS: false

    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
          - macos-15-intel

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ">=23.0.0"

      - name: Install dependencies
        run: bun install

      - name: Download "denokv-x86_64-apple-darwin" binary for mac-x64 build
        if: matrix.os == 'macos-15-intel'
        run: ./scripts/download-denokv-macos-intel-binary.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run bridge server tests
        working-directory: packages/bridge-server
        run: bun run test

      - name: Build the app
        run: bun run compile -- -p never

      - name: Run tests (Windows, Mac)
        run: bun run test --if-present
        if: matrix.os != 'ubuntu-latest'

      - name: Run tests (Linux)
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- bun run test --if-present
        if: matrix.os == 'ubuntu-latest'

      - uses: actions/attest-build-provenance@v2
        with:
          subject-path: "dist/denokv-gui-client*, dist/latest*.yml"

      - name: Upload compiled app
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: dist
